In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
#importing dataset

dataset=pd.read_csv("G:\Extras\Computer\Internship\data.csv",encoding='ISO-8859-1')

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#dropping unneccesary columns like agency,sampling date and stn_code
dataset.drop(columns=['stn_code','agency','sampling_date','location_monitoring_station','date'],inplace=True)
dataset

,state,location,type,so2,no2,rspm,spm,pm2_5
0,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN
1,Andhra Pradesh,Hyderabad,Industrial Area,3.1,7.0,NaN,NaN,NaN
2,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN
3,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN
4,Andhra Pradesh,Hyderabad,Industrial Area,4.7,7.5,NaN,NaN,NaN
5,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.4,25.7,NaN,NaN,NaN
6,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",5.4,17.1,NaN,NaN,NaN
7,Andhra Pradesh,Hyderabad,Industrial Area,4.7,8.7,NaN,NaN,NaN
8,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.2,23.0,NaN,NaN,NaN
9,Andhra Pradesh,Hyderabad,Industrial Area,4.0,8.9,NaN,NaN,NaN
10,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.6,18.6,NaN,NaN,NaN
11,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,14.1,NaN,133.0,NaN
12,Andhra Pradesh,Hyderabad,Industrial Area,5.6,11.8,NaN,82.0,NaN
13,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.3,19.3,NaN,111.0,NaN
14,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.9,8.2,NaN,118.0,NaN
15,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",3.5,12.1,NaN,135.0,NaN
16,Andhra Pradesh,Hyderabad,Industrial Area,7.9,10.2,NaN,80.0,NaN
17,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,9.9,NaN,179.0,NaN
18,Andhra Pradesh,Hyderabad,Industrial Area,12.4,11.5,NaN,58.0,NaN
19,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",4.0,12.3,NaN,99.0,NaN
20,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",6.3,11.5,NaN,270.0,NaN
21,Andhra Pradesh,Hyderabad,Industrial Area,44.8,13.7,NaN,97.0,NaN
22,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",8.1,17.8,NaN,167.0,NaN
23,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",7.7,11.3,NaN,145.0,NaN
24,Andhra Pradesh,Hyderabad,Industrial Area,20.6,13.6,NaN,75.0,NaN
25,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",20.4,27.5,NaN,212.0,NaN
26,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",13.9,7.2,NaN,93.0,NaN
27,Andhra Pradesh,Hyderabad,Industrial Area,11.2,18.6,NaN,61.0,NaN
28,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",22.3,35.9,NaN,255.0,NaN
29,Andhra Pradesh,Hyderabad,"Residential, Rural and other Areas",24.5,28.0,NaN,197.0,NaN
...,...,...,...,...,...,...,...,...
435712,West Bengal,ULUBERIA,RIRUO,12.0,38.0,103.0,NaN,NaN
435713,West Bengal,ULUBERIA,RIRUO,14.0,36.0,113.0,NaN,NaN
435714,West Bengal,ULUBERIA,RIRUO,20.0,41.0,131.0,NaN,NaN
435715,West Bengal,ULUBERIA,RIRUO,10.0,38.0,88.0,NaN,NaN
435716,West Bengal,ULUBERIA,RIRUO,12.0,40.0,116.0,NaN,NaN
435717,West Bengal,ULUBERIA,RIRUO,21.0,52.0,134.0,NaN,NaN
435718,West Bengal,ULUBERIA,RIRUO,21.0,49.0,178.0,NaN,NaN
435719,West Bengal,ULUBERIA,RIRUO,18.0,47.0,138.0,NaN,NaN
435720,West Bengal,ULUBERIA,RIRUO,19.0,45.0,126.0,NaN,NaN
435721,West Bengal,ULUBERIA,RIRUO,11.0,34.0,90.0,NaN,NaN
435722,West Bengal,ULUBERIA,RIRUO,16.0,40.0,135.0,NaN,NaN
435723,West Bengal,ULUBERIA,RIRUO,15.0,37.0,136.0,NaN,NaN
435724,West Bengal,ULUBERIA,RIRUO,22.0,67.0,202.0,NaN,NaN
435725,West Bengal,ULUBERIA,RIRUO,20.0,64.0,181.0,NaN,NaN
435726,West Bengal,ULUBERIA,RIRUO,14.0,42.0,95.0,NaN,NaN
435727,West Bengal,ULUBERIA,RIRUO,11.0,34.0,118.0,NaN,NaN
435728,West Bengal,ULUBERIA,RIRUO,17.0,43.0,144.0,NaN,NaN
435729,West Bengal,ULUBERIA,RIRUO,19.0,49.0,140.0,NaN,NaN
435730,West Bengal,ULUBERIA,RIRUO,18.0,41.0,142.0,NaN,NaN
435731,West Bengal,ULUBERIA,RIRUO,22.0,58.0,155.0,NaN,NaN
435732,West Bengal,ULUBERIA,RIRUO,22.0,50.0,145.0,NaN,NaN
435733,West Bengal,ULUBERIA,RIRUO,34.0,61.0,161.0,NaN,NaN
435734,West Bengal,ULUBERIA,RIRUO,20.0,44.0,148.0,NaN,NaN
435735,West Bengal,ULUBERIA,RIRUO,17.0,44.0,131.0,NaN,NaN
435736,West Bengal,ULUBERIA,RIRUO,18.0,45.0,140.0,NaN,NaN
435737,West Bengal,ULUBERIA,RIRUO,22.0,50.0,143.0,NaN,NaN
435738,West Bengal,ULUBERIA,RIRUO,20.0,46.0,171.0,NaN,NaN
435739,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#unique values in state dataset
np.unique(dataset[['state']].values)

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand',
       'Uttaranchal', 'West Bengal', 'andaman-and-nicobar-islands'],
      dtype=object)

In [6]:
#this helps us to know number of nan values in every column
len(dataset) - dataset.count()

state            0
location         3
type          5393
so2          34646
no2          16233
rspm         40222
spm         237387
pm2_5       426428
dtype: int64

In [7]:
#we observe a large number of nan values in psm2_5 and spm so we are dropping
dataset.drop(columns=['pm2_5','spm'],inplace=True)

In [8]:
dataset[dataset['location'].isna()]

                              state location type  so2  no2  rspm
435739  andaman-and-nicobar-islands      NaN  NaN  NaN  NaN   NaN
435740                  Lakshadweep      NaN  NaN  NaN  NaN   NaN
435741                      Tripura      NaN  NaN  NaN  NaN   NaN

In [9]:
#we drop Andaman,Lakshwadeep and Tripura too as they dont have any required values
dataset.drop(index=[435739,435740,435741],inplace=True)

In [10]:
#we group by the location and remove the missing values

In [11]:
dataset=dataset.groupby(['state','location','type']).first()

In [12]:
dataset.dropna(thresh=3,inplace=True)

In [13]:
#this helps us to know number of nan values in every column
len(dataset) - dataset.count()

so2     0
no2     0
rspm    0
dtype: int64

In [14]:
#Since all missing values are gone we can now get an overview of the levels of pollution in state or also the particular location of that state